<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">DEMO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['']"
            >Databinding</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['dir']"
            >Directive</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['pipe']"
            >Pipe</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['inheritance']"
            >Inheritance</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['nested']"
            >Nested</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['projection']"
            >Projection</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['hooks']"
            >Hooks</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['form']"
            >Template Form</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['reactivefrom']"
            >Reactive From</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
