<form>
  <ng-content select="h2"></ng-content>
  <div>Username : <input type="text" name="username" /></div>
  <div>Password : <input type="password" name="password" /></div>
  <div>
    <ng-content select=".btn"></ng-content>
  </div>
</form>

<!-- <form>
  <h2>User SignUp</h2>
  <div>Username : <input type="text" name="username" /></div>
  <div>Password : <input type="password" name="password" /></div>
  <div>
    <input type="submit" value="SignUp" class="btn btn-primary" />
  </div>
</form> -->
